body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: '', serif;
    color: #a2beb9;
}

h2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999E ;
    
}

a{
    color: #11999E ;
    font-family: 'Montserrat',sans-serif;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

p{
    line-height: 2;
}

hr{
    margin: 50px auto;
    border-width: 0.5em 0 0 0;
    border: dotted #738d8d 6px;
    border-bottom: none;
    width: 4%;

}

.top-container {
    background-image:linear-gradient(#000000bf,#000000bf), url(images/back-img.jpg);
    width: 100%;
	height: 100vh;
    position: relative;
    margin-top: 0;
    padding-top: 50px;
}

#middle-container{
    padding-top: 100px;
    background-color: #121214;
}

.bottom-container{
    position: relative;
    background-image: url(images/footer_bg.png);
    background-color: #121215;
    padding: 50px 0 20px 0;
}

.heading{
    margin: 100px auto 0 auto;
    font-family: 'Merriweather',sans-serif;
    font-size: xx-large;                 
    color: #9abebe;
    line-height: 2;
}

.navbar{
    width: 85%;
    margin: -50px auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li a:hover{
    color: #4f2fdb;
}
.navbar ul li::after{
        content: '';
        height: 3px;
        width:0;
        background: #4f2fdb;
        position: absolute;
        left:0;
        bottom: -10px;
        transition: 0.7s;
}

.navbar ul li:hover::after{
    width : 100%;
}

.code-img{
    height: 400px;
    width: 600px;
}

.profile-img{
    width: 15%;
}

.skill-row{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    
}

.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.coding-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.about{
    margin: 0 30% 0 30%;
}

.footer-link{
    margin: 20px 15px;
    color: #7ec8c1;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

#contact-input{
    width: 60%;
    font-size: medium;
    font-weight: medium;
    padding: 1rem;
    background-color: #b6dcd8;
    
    border-radius: .5rem;
    border: 1.5px solid;
    outline: none;
}

#contact-me{
    width: 45%;
    margin: auto;
}

button{
        width: 200px;
        padding: 15px 0;
        text-align: center;
        margin:20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border:  2px solid #009688;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background: transparent;
        color: #fff;
        
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
    background: #009688;

}

.button{
    padding-top: 2em;
}